<div class="container">
  <div class="jumbotron" style="margin-top: 50px">
    <h1 class="display-3 text-center">Cannot find page..</h1>
    <p class="lead text-center" style="margin: auto">
      <a class="btn btn-primary btn-lg" href="/lobby" role="button" style="margin-top: 20px"
        >Lobby</a
      >
    </p>
  </div>
</div>
