<div class="container">
  <div class="jumbotron" style="margin-top: 50px">
    <h1 class="display-3 text-center">TTEchat</h1>
    <p class="lead text-center" style="margin: auto">
      <a class="btn btn-primary btn-lg" href="/register" role="button" style="margin-top: 20px"
        >Register</a
      >
      <a class="btn btn-primary btn-lg" href="/login" role="button" style="margin-top: 20px"
        >Login</a
      >
    </p>
    <p class="lead text-center" style="margin: auto"></p>
  </div>
</div>
