<div class="container">
  <h1>New server</h1>

  <form action="/lobby/create" method="POST">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="name" name="name" id="name" class="name" required />
    </div>
    <a href="/lobby" class="btn btn-secondary">Cancel</a>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
