<div class="container" style="text-align: center; margin-top: 100px">
  <a href="/lobby/friends" type="button" class="btn btn-primary btn-lg">Friends</a>

  <a href="/lobby/servers" type="button" class="btn btn-primary btn-lg">Servers</a>

  <a href="/lobby/create" type="button" class="btn btn-primary btn-lg">Create server</a>

  <a href="/about" type="button" class="btn btn-primary btn-lg">about</a>
</div>
