<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 col-sm-12">
      <h1 class="text-center"><%= server.name %></h1>
      <div id="chat">
        <p id="username" class="form-control"><%= users.username %></p>
        <br />
        <div id="status"></div>
        <div id="chat">
          <br />
          <div class="card">
            <div id="messages" class="card-block"></div>
          </div>
          <br />
          <textarea id="textarea" class="form-control" placeholder="Enter message..."></textarea>
        </div>
      </div>
    </div>
  </div>

  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
  <script defer src="../socket.js"></script>
  <link rel="stylesheet" href="../style/style.css" />
</div>
