<script>
  const roomName = '<%= server.name %>';
  let roomID = '<%= id %>';
</script>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 col-sm-12">
      <h1 class="text-center"><%= server.name %></h1>
      <div id="chat">
        <p id="username" class="form-control"><%= users.username %></p>
        <br />
        <div class="card">
          <i id="typing"></i>
          <div id="messages" class="card-block"></div>
        </div>
        <br />
        <textarea id="message" class="message_input" placeholder="Enter message..."></textarea>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script src="./socket.js"></script>
