<div class="container" style="text-align: center; margin-top: 100px">
  <a href="/lobby/servers" type="button" class="btn btn-primary btn-lg">Chat room</a>

  <a href="/about" type="button" class="btn btn-primary btn-lg">About</a>

  <a href="/lobby/voicechat" type="button" class="btn btn-primary btn-lg">Voicechat</a>
</div>
